.login-container {
  height: 100%;
  background-color: var(--primary-color);
}

h1 {
  color: var(--color-text);
  text-align: center;
  margin: 1.25rem 0;
}

.login-form-container {
  padding: 1.5625rem 1.25rem;
  align-self: flex-start;
  background-color: var(--primary-color);
  margin: 0 auto;
  width: 21.875rem;
  border-radius: 0.3125rem;
}

label {
  font-size: 0.875rem;
  color: var(--white);
}

input.form-control {
  border: 1px solid #30363d;
  background-color: var(--primary-color);
  color: var(--color-text);
  border-radius: 0.3125rem;

  &[disabled] {
    cursor: not-allowed;
    border-color: var(--gray);
  }
}

input[type='button'],
input[type='submit'] {
  border-radius: 0.3125rem;
}
